/htpasswd.txt
/aro-user.htpasswd
/pull-secret.txt
/clientSecret.txt
/manifest.json
/oidc.yaml
/enable-monitoring.sh
/*-sp.json
/winpass.txt
/Misc.md
/cloud-init.txt
**/*.pfx
**/*.cer
**/*.key
**/*.crt
**/*.csr
**/*.pem
**/*.srl
WorkspaceProps.json
aro4-env.sh
**/*-sp.json

/openshift-client-linux.tar.gz


