#!/bin/bash

# Source this file into your shell
# $ source ./aro4-env.sh

export LOCATION=<location> # Choose your region
export CLUSTER=cluster        # Set your cluster name
export RESOURCEGROUP="aro-v4"
export VNET=aro-vnet
export UTILS_VNET=utils-vnet
export DOMAIN="<your-domain>" # Optional, if you want to set a custom domain for ARO (can be a FQDN or shortname)
